*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav{
    width: 100vw;
    height: 5vh;
    background-color: palevioletred;
    display: flex;
    flex-direction: row;  
    justify-content: center;  
    align-items: center;
}
.nav .p{
    width: 10%;
    height: 30%;
    margin-inline: 1%;
    background-color: #ffffff;
}
.nav .pe{
    width: 10%;
    height: 100%;
    background-color: #d9cf91;
}
.cabecera{
    width: 100vw;
    height: 25vh;
    background-color: rgb(199, 136, 179);
    display: flex;
    flex-direction: row;
}
.cabecera .form{
    width: 8%;
    height: 20vh;
    margin: 1%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cabecera .form .cabeceraInF{
    width: 100%;
    height: 15%;
    background-color: rgb(38, 38, 38);
}
.cabecera .form .mainInF{
    width: 100%;
    height: 85%;
    background-color: #a9a9a9;
}
.cabecera .form .mainInF .p{
    width: 50%;
    height: 10%;
    margin: auto;
    margin-top: 10%;
    background-color: #FFFFFF;
}
.cabecera .form .mainInF .p2{
    width: 50%;
    height: 10%;
    margin: auto;
    margin-top: 10%;
    background-color: #d9cf91;
}
.cabecera .article{
    width: 70vw;
    height: 25vh;
    margin-top: 3vh;
    margin-inline: 10vh;
}
.cabecera .article .titulo{
    background-color: #d9cf91;
    width: 40%;
    height: 10%;
}
.cabecera .article .jacinta{
    background-color: #000000;
    width: 80%;
    height: 2%;
    margin-block: 1%;
}
.cabecera .article .minijacinta{
    background-color: #000000;
    width: 40%;
    height: 2%;
    margin-inline: 20%;
}
.main{
    width: 100vw;
    height: 56vh;
    background-color: #ffe2e2;
    text-align: center;
}
.main .aticle{
    width: 80vw;
    margin-left: 0;
    margin-inline: 17%;
    margin-bottom: 5%;
    
}
.main .div{
    display: flex;
    flex-direction: row;  
    justify-content: center;
    margin-left: 3vw;  
}
.main .div .article{
    margin: 4vw;
    margin-top: 1vw;
    width: 16vw;
    height: 33vh;
}
.main .article{
    width: 33vw;
    height: 40vh;
    display: block;
    margin-inline: 20%;
    text-align: center;
}
.main .div .article .figure{
    background-color: #d9cf91;
    width: 80%;
    height: 40%;
    margin: 1%;

}
.main .titulo{
    width: 80%;
    height: 2vh;
    margin: 1%;
    background-color:red;
}
.main .jacinta{
    width: 80%;
    height: 1vh;
    background-color: black;
    margin: 1%;
    margin-bottom: 0%;
}
.main .minijacinta{
    width: 60%;
    height: 1vh;
    background-color: black;
    margin: 1%;
    margin-bottom: 0%;
    margin-inline: 10%;
}

.piecera{
    width: 100vw;
    height: 8vh;
    background-color: palevioletred;
    display: flex;
}

.piecera .p1{
    background-color: #d9cf91;
    width: 30%;
    height: 20%;
    height: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 20%;
    margin-left: 10%;
}
.piecera .p2{
    background-color: #d9cf91;
    width: 10%;
    height: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 2%;
}